body {
  margin: 0;
  background: #111;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  font-family: monospace;
}

canvas {
  border: 2px solid #444;
}

button {
  cursor: pointer;
}
